@{
    ViewData["Title"] = "Products";
}

@model IList<Product>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Actions</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Price</td>
            <td>@p.Stock</td>
            <td>@p.CreatedAt</td>
            <td>@p.UpdatedAt</td>
            <td><a class="btn btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@p.Id">Edit</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" asp-controller="Product" asp-action="Edit">Add new</a>
